/*=================================================
Class Definitions
=================================================*/

.immersive_slider {
  background: #161923;
  max-width: 100%;
  height: 480px;
  opacity: .9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.immersive_slider .is-slide  {
  display: table;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 30px 80px;
  position: absolute;
}
.immersive_slider .is-slide .image  {
  float: none;
  width: 75%;
  padding-left: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: middle;
  display: table-cell;
  padding: 0 0 0 10px;
}
.is-bg-overflow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.is-overflow, .is-bg-overflow {
  height: 100%;
}

.ease {
  -webkit-transition: 1000ms ease all;
  -moz-transition: 1000ms ease all;
  -o-transition: 1000ms ease all;
  transition: 1000ms ease all;
}

.bounce {
  -webkit-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
  -moz-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
  -o-transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
  transition: 1000ms cubic-bezier(0.175, 0.885, 0.420, 1.310) all;
}

.no-animation {
  -webkit-transition: none!important;
  -moz-transition: none!important;
  -o-transition: none!important;
  transition: none !important;
}

.immersive_slider .is-slide .image img{
  width: 100%;
}

.immersive_slider .is-slide .content {
  width: 30%;
  padding-right: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: white;
  text-align: left;
  line-height: 160%;
  vertical-align: middle;
  display: table-cell;
}

.immersive_slider .is-slide .content h2{
  font-size: 42px;
  font-weight: 300;
  text-align: left;
}

.is-container {
  position: relative;
  overflow: hidden;
}

.is-container .is-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.is-container .is-background img{
  width: 100%;
  height: 100%;
  left: 0;
  position: relative;
}

.is-container .is-background.gs_cssblur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
}

.is-pagination {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 20px;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.is-pagination li {
  padding: 0;
  display: inline-block;
  text-align: center;
  position: relative;
}
.is-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;

}
.is-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(255,255,255,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.is-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid white;
  margin-top: -4px;
  left: 8px;
}

.is-next,  .is-prev {
  padding: 5px 5px 15px;
  font-size: 50px;
  position: absolute;
  bottom: 50%;
  margin-bottom: -36px;
  width: 35px;
  color: #FFF;
  display: inline-block;
  line-height: 100%;
  background: rgba(0, 0, 0, 0.35);
}

.is-next {
  right: 10px;
}

.is-prev {
  left: 10px;
}


.first_about{
	opacity: 0.7;
  font-size: 20px;
  padding: 10px;

  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  transition: 0.4s;
  transform: scale(0.8);
}

.first_about:hover{
  background: #32383e;
  opacity:1;
  font-size: 22px;
  border: 1px solid #32383e;

}

.navbar{
  height: 120px;

}

.about h5{
  text-align: center;
  padding: 8px;
  background: #212529;
  color: #f3f3f3;
  margin-bottom: 25px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
}

.card_people{
  background: white;
  margin-left: 5%;
  text-align: left;
  padding: 15px;
  box-shadow: -1px 9px 10px 1px rgba(161,161,161,0.75);
  -webkit-box-shadow: -1px 9px 10px 1px rgba(161,161,161,0.75);
  -moz-box-shadow: -1px 9px 10px 1px rgba(161,161,161,0.75);
  overflow: hidden;
  display: inline-block;
}

.name_people{
  display:inline-block;
  margin-left: 35px;
  font-weight: 8000;
}

.his_words{
  display:inline-block;
  margin-left: 35px;
  width: 550px;
}

.op1{
  display: inline-block;
  background: #f3f3f3;
  color: gray;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  margin-left: 5px;
  margin-top: 12px;
  border:1px solid gray;
  border-radius: 4px;
  transition: 0.4s;
  transform: scale(0.9);

}

.op1:hover{
  background: #484848b0;
  color: white;
}

.options{
  text-align: center;
}

.card_img_people{
  width: 350px !important;
  margin-left: 10% !important;
  box-shadow: -1px 5px 6px 1px rgba(161,161,161,0.75);
  -webkit-box-shadow: -1px 5px 6px 1px rgba(161,161,161,0.75);
  -moz-box-shadow: -1px 5px 6px 1px rgba(161,161,161,0.75);
  border-radius: 100%;
}

#drop{
   width:80px;
   margin-left: -50%;
   color: white;
   font-size: 25px;

}

#drop li{
   list-style: none;
}

#drop li a{
   text-decoration:none;
   padding: 5px;
   display:block;
   transition: 0.5s;
   top: -25px;
}

#drop li a:hover{
  color: gray !important;
}

#drop li a:hover{
  text-decoration:none;
  color: white;
}

.parent{
  background: transparent !important;
  transition: 0.7s;
  border-radius: 3px;
}

#drop li.parent:hover{
   margin:-1px;
   background: #484848b0;
   color: white;
}

#drop li li a{

}
/* aquí esta lo importante!! */

#drop li ul {
      /*display:none; Lo Eliminamos */
   background: #1c2023d9;
   position: absolute;
   float: right;
   right: 9%;
   top:-150px;
   overflow:hidden; /* Para evitar Que se salgan los links */
   z-index:1000;/*El Submenu tiene que ir atras, para evitar que los 0 pixeles causen problema al :hover*/
   opacity: 0;
   transition: 0.7s;
   border-radius: 4px;
   width: 350px;

}
#drop li:hover ul {
      /*display:block; Lo Eliminamos */
   top:15px;
   transition: 0.7s;
   display: block;
   width: 350px; /*La animación de 0 a 250px*/
   opacity: 1;

}

.a_menu{
  color: white;
  background: transparent;
}

.logo_fungi{
  width: 150px;
  height: 150px;
  margin-top: 5px;
  margin-left: 50px;
  float: left;

  z-index: 300;
  background: #212529!important;
  padding: 10px;
  border-radius: 100%;
}

.banner{
  width: 100%;
  height: 600px;
}

.banner_img{
  width: 100%;
  height: 105%;
}

.opaque{
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  height: 600px;
}

.some_card{
  width: 39%;
  margin-left: 2.8%;
  height: 35%;
  margin-top: -20px;
  background: rgba(0,0,0,.55);
  padding: 10px;
  border-radius: 3px;
  color: white;
  float: left;
  position: relative;
  text-align: left !important;
}

.contact_btn_1{
  float: right;
  margin-right: 5%;
  transition: 0.5s !important;

}

.contact_btn_2{
  float: right;
  margin-right: 5%;
  transition: 0.5s !important;
  margin-top: 50px;
}

.contact_btn_1:hover{
  color: white !important;
  margin-right: 6%;
}

.contact_btn_2:hover{
  color: white !important;
  margin-right: 6%;
}

.content_btns{
  width: 30%;
  float: right;
  margin-top: 200px;
  display: block;
}

.sticker1{
  width: 150px;
  margin-left: 35%;
  display: inline-block;
  margin-bottom: 25px;
}

.video_principal{
  display: inline-block;
  float: right;
  width: 650px;

  margin-top: 15px;
}

.text_inf-video{
  text-align: center;
  width: 40%;
  float: left;
  background: moccasin;
  margin-left: 2%;
  padding-bottom: 5%;
  padding: 15px;
  margin-top: 5%;
}

.img-video{
  width: 150px;
  margin-left: 15px;
  display: inline-block;
  margin-top: 15px;
}

.text_inf{
  display: inline-block;
  margin-top: 48px;
  margin-left: 10px;
}

.button_redirect_class{
  margin-top: 5%;
  margin-bottom: 5%;
  transition: 1s;
  background: #1e7549eb !important;
  color: white !important;
  font-size: 25px !important;

}

.button_redirect_class:hover{
  background: white !important;
  color: #1e7549eb !important;
  border:1px solid #1e7549eb;
}

.img_store_card{
  width: 100%;
  height: 250px;
}


.card_item_home{
  width: 350px;
  padding-bottom: 30px;
  margin: 10px;
  margin-top: 50px;
  background: white;
  box-shadow: -1px 5px 6px 1px rgba(161,161,161,0.75);
  display: inline-block;
  max-height: 50%;
  border-radius: 4px;
}

.name_store_card{
  margin-top: 15px;
}

.text_store_card{
  text-align: left;
  margin-left: 15px;
}

.opt_card{
    text-align: center;
    margin-left: 5%;
    font-size: 16px;
    width: 90%;
    border-radius: 20px;
    height: 35px;
    padding: 8px;
    transition: 0.5s;
    background: #092f28b5;
    color: white;
    cursor: pointer;
}

.opt_card:hover{
    background: #092f28e3;
    border: 1px solid #092f28b5;
    font-size: 17px;
}

.content_card{
  padding: 25px;
  background: white;
  margin-top: 150px;
  padding-bottom: 100px;
}

.opt_store_card{
      height: 65px;
}

.price_card{
  background: white;
  text-align: center;
  border-radius: 0px 0px 4px 0px;
  position: absolute;
  float: left;
  width: 10%;
  transition: 0.5s;
}

.price_card:hover{
  font-size: 18px;
}

.ident_store{
  float: left;
  margin-left: 60%;
  margin-top: 5%;
  padding: 15px;
  border-bottom: 2px solid #092f28b5;
  transition: 0.8s;
  cursor: pointer;
}

.ident_store:hover{
  border-bottom: 2px solid orange;
}


/*---------------------Responsive whit media-------------------------*/


@media only screen and (max-width: 800px) {
  .video_principal {
    width: 100%;
    position: relative;
  }

  .some_card{
    width: 75%;
    margin-top: -100px;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.5s;
    color: transparent;
    background:transparent;
    display: table;
    font-size: 5px;
  }

  .some_card:hover{
    background: rgba(0,0,0,.55);
    color: white;
    font-size: 15px;
  }

  .logo_fungi{
    width: 120px;
    height: 120px;
    margin-top: -15px;
    overflow: hidden;
  }

  .content_btns{
    margin-top: 80px;
    width: 100%;
    height: 12px;
  }

  .contact_btn_1{
    float: right;
    margin-right: 5%;
    transition: 0.5s !important;

  }

  .contact_btn_2{
    float: right;
    margin-right: 5%;
    transition: 0.5s !important;
    margin-top: -10px;
  }

  .sticker1{
    width: 150px;
    margin-left: 3%;
    opacity: 100;
    z-index: 3000;
    margin-bottom: 25px;
  }

  .button_redirect_class{
    float: right;
    margin-top: -650px;
    margin-right: 5%;
  }

  .card_lower_banner{

  }
}

.card_inf{
  width: 320px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-top: 30px;
  margin: 10px;
  margin-top: 50px;
  box-shadow: -1px 5px 6px 1px rgba(161,161,161,0.75);
  display: inline-block;
  border-radius: 4px;
  background: #cdde2775;
}

.inf_icon_card{
  font-size: 25px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.color_red{
  background: #d80c0c94 !important;
}

.color_blue{
  background: #1386e8a6;
}

.inf_general{
  margin-bottom: 50px;
}


.banner_low{
  background-image: url("img/D83.jpg");
  height: 500px;
  text-align: center;
  width: 100%;
}

.card_lower_banner{
  width: 59%;
  margin-top: 5%;
  margin-left: 3%;
  background: rgba(0,0,0,.68);
  padding: 10px;
  border-radius: 3px;
  color: white;
  float: left;
  text-align: left !important;
}

.card_lower_banner button{
  margin-left: 25%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background: transparent;
  float: right;
  transition: 0.4s;
}

.card_lower_banner button:hover{
  background: rgba(47,47,47,0.55);
}

.only_img{
  width: 100%;
}

.img_card_lower_banner{
  width: 150px;
}

.card_title_banner{
  text-align: center;
}

.button_store{
  font-size: 30px;
  font-weight: bold;
  margin-right: 15px;
}

footer{
  padding: 15px;
  background-color: #212529!important;
  margin-top: 40px;
}

.footer_part_one{
  width: 20%;
  text-align: left;
  margin-left: -5%;
  font-size: 20px;
  color:#b3b3b3;
  display: inline-block;
}

.footer_part_two{
  width: 20%;
  text-align: left;
  font-size: 15px;
  margin-left: 15%;
  color:#b3b3b3;
  display: inline-block;
}

.footer_part_tree{
  width: 20%;
  text-align: left;
  font-size: 14px;
  margin-left: 15%;
  color:#b3b3b3;
  display: inline-block;
}
